<app-header></app-header>
<div class="row g-3">
  <div class="col-sm">
    <button class="btn btn-primary btn-create" (click)="navigate('createModel')">Créer</button>
  </div>
  <div class="col-sm">
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
             aria-describedby="search-addon"/>
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
  </div>
</div>
<div class="card-model">
  <div *ngFor="let model of this.models">
    <div class="profilebox profilebox1">
      <div class="SocialIcons">
        <a (click)="navigate('modifyModel')"><img src="../../../assets/images/icone_plus.png" class="icone"/><i
          class="fa"></i></a>
        <a (click)="deleteModel()"><img src="../../../assets/images/icone_poubelle.png" class="icone"/><i
          class="fa icone_delete"></i></a>
      </div>
      <div class="profileInfo">
        <h3>{{model["name"]}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="page-list">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let index of counter(this.numberPage);let i = index">
        <a class="page-link" (click)="getPage(i)">{{i+1}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
